# Introduction to Python

## Variables and Datatypes
1. Integer
2. String
3. Float
4. Boolean
5. List - list is mutable
6. Tuples - not mutable
7. Dictionary
8. Set

In [47]:
x =5 
name = "Shreyank"
f = 3.0
b = True
l = [1, 2, 3]
t = (1, 2)
d = {'n1': "name", 'n2':"name2"}
s = {1, 2, 3}
type(x), type(name), type(f), type (b), type(l), type(t), type(d), type(s)

(int, str, float, bool, list, tuple, dict, set)

## Functions on a list

In [17]:
#append

l = []
l.append(1), l.append("name"), l.append(3.0), l.append(True)
print(l)

[1, 'name', 3.0, True]

In [20]:
#copy
l_2 = l.copy()
print(l_2)

[1, 'name', 3.0, True]

In [21]:
#insert
l_new = [1,2,3]
l_new.insert(3, 4)
print(l_new)

[1, 2, 3, 4]

In [27]:
#len
len(l)

20

In [ ]:
#extend
l.extend(l_new)
print(l)

In [31]:
#pop
print(l_new)
l_new.pop()
print(l_new)

[1, 2, 3]
[1, 2]

In [34]:
#reverse
l.reverse()
print(l)

[4, 3, 2, 1, 4, 3, 2, 1, 4, 3, 2, 1, 4, 3, 2, 1, True, 3.0, 'name', 1]

In [37]:
#sort
a = [4, 9  ,7 , 6 , 2, 3, 1]
b = sorted(a)
print(a), print(b)

[4, 9, 7, 6, 2, 3, 1]
[1, 2, 3, 4, 6, 7, 9]

(None, None)

In [38]:
#split
sentence = "How to use split function?"
split_sentence = sentence.split(" ")
print(split_sentence)

['How', 'to', 'use', 'split', 'function?']

## Dictionary

In [40]:
my_dict = {'car1':'Merc', 'car2':'GM', 'car3': ['maruti', 'suzuki']}
print(my_dict)

{'car1': 'Merc', 'car2': 'GM', 'car3': ['maruti', 'suzuki']}

In [41]:
my_dict.items()
#individual item of dictionary is a tuple

dict_items([('car1', 'Merc'), ('car2', 'GM'), ('car3', ['maruti', 'suzuki'])])

In [42]:
my_dict.keys()

dict_keys(['car1', 'car2', 'car3'])

In [43]:
my_dict.values()

dict_values(['Merc', 'GM', ['maruti', 'suzuki']])

## Tuple
* If a tuple has single object, end it with a "," :: t = ("Shre",)
* Cannot change value of any element in a tuple

In [48]:
t = (1, 2, 3)
type(t)

tuple

## Sets

In [49]:
s = set ([1, 2, 3])
s

{1, 2, 3}

In [50]:
s.add(4)
s

{1, 2, 3, 4}

## If - Else Statement

In [51]:
num = 10 
if num > 9:
    print("Valid number")
else:
    print("invalid number")

Valid number

## For Loops

* Iterable 
* Iterator

In [52]:
li = [1, 2, 3, 4, 5]

for val in li:
    print(val)

1
2
3
4
5